@{
    ViewData["Title"] = "Triaż";
}

<div class="text-center">
    <h1 class="display-4">Wypełnianie triażu</h1>
    <p> <a href="https://triaz.azurewebsites.net/Triaz/Create">Wypełnianie triażu</a>.</p>
</div>
