@model MM.DocumentCreator.Models.Documents.TriazDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TriazDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalGovNumber" class="control-label"></label>
                <input asp-for="PersonalGovNumber" class="form-control" />
                <span asp-validation-for="PersonalGovNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postal" class="control-label"></label>
                <input asp-for="Postal" class="form-control" />
                <span asp-validation-for="Postal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAndNumbers" class="control-label"></label>
                <input asp-for="StreetAndNumbers" class="form-control" />
                <span asp-validation-for="StreetAndNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassOrGroup" class="control-label"></label>
                <input asp-for="ClassOrGroup" class="form-control" />
                <span asp-validation-for="ClassOrGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReporterDetails" class="control-label"></label>
                <input asp-for="ReporterDetails" class="form-control" />
                <span asp-validation-for="ReporterDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeeperNames" class="control-label"></label>
                <input asp-for="KeeperNames" class="form-control" />
                <span asp-validation-for="KeeperNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeKeeper" class="control-label"></label>
                <input asp-for="HomeKeeper" class="form-control" />
                <span asp-validation-for="HomeKeeper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhatHappened" class="control-label"></label>
                <input asp-for="WhatHappened" class="form-control" />
                <span asp-validation-for="WhatHappened" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HowDidYouGetKnowledgeAboutProgram" class="control-label"></label>
                <input asp-for="HowDidYouGetKnowledgeAboutProgram" class="form-control" />
                <span asp-validation-for="HowDidYouGetKnowledgeAboutProgram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasPsychiatristCare" class="control-label"></label>
                <input asp-for="HasPsychiatristCare" class="form-control" />
                <span asp-validation-for="HasPsychiatristCare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasADiagnosis" class="control-label"></label>
                <input asp-for="HasADiagnosis" class="form-control" />
                <span asp-validation-for="HasADiagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsTakingMedication" class="control-label"></label>
                <input asp-for="IsTakingMedication" class="form-control" />
                <span asp-validation-for="IsTakingMedication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasSuicideThoughts" class="control-label"></label>
                <input asp-for="HasSuicideThoughts" class="form-control" />
                <span asp-validation-for="HasSuicideThoughts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DidSelfMutilation" class="control-label"></label>
                <input asp-for="DidSelfMutilation" class="form-control" />
                <span asp-validation-for="DidSelfMutilation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDisabled" class="control-label"></label>
                <input asp-for="IsDisabled" class="form-control" />
                <span asp-validation-for="IsDisabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Homeless" class="control-label"></label>
                <input asp-for="Homeless" class="form-control" />
                <span asp-validation-for="Homeless" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minority" class="control-label"></label>
                <input asp-for="Minority" class="form-control" />
                <span asp-validation-for="Minority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Generuj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Create">Nowy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
